@font-face {
  font-family: 'Manrope';
  src: url('./Manrope-SemiBold.eot');
  src: url('./Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./Manrope-SemiBold.otf') format('otf'),
       url('./Manrope-SemiBold.ttf') format('truetype'),
       url('./Manrope-SemiBold.woff') format('woff'),
       url('./Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./Manrope-ExtraBold.eot');
  src: url('./Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('./Manrope-ExtraBold.otf') format('otf'),
       url('./Manrope-ExtraBold.ttf') format('truetype'),
       url('./Manrope-ExtraBold.woff') format('woff'),
       url('./Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.eot');
  src: url('./Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('./Inter-Regular.woff2') format('woff2'),
      url('./Inter-Regular.woff') format('woff'),
      url('./Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

