:root {
  font-size: 16px;
}

h1 {
  font-size: 64px;  
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  margin-bottom: 64px;
}

h3, .h3 {
  font-size: 24px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  gap: 0 24px;
}

/* Header */
.header_logo img {
  height: 40px;
}

.header_menu {
  gap: 40px;
}
/* /Header */

/* Main page */
.main_page h1 {
  padding: 80px 0 64px;
}

.main_info-left {
  gap: 24px;
}

.main_photo img {
  width: 80px;
  height: 80px;
}
/* /Main page */
/* Projects */
.experience_list {
  margin-top: 64px;
}

.project_item > img {
  height: 406px;
}
/* /Projects */
/* Trainings */
.training_img {
  margin-left: 16px;
}
/* /Trainings */
/* Short */
.short_right img {
  width: 80px;
}
/* /Short */
/* Foooter */
.contact_phone {
  font-size: 2.5rem;
}
/* /Foooter */