:root {
  font-size: 16px;
}

h1 {
  font-size: 64px;  
  line-height: normal;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

/* Header */
.header_menu {
  gap: 64px;
}
/* /Header */

/* Main page */
.main_page h1 {
  padding: 120px 0 80px;
}
/* /Main page */

/* Foooter */
.contact_phone {
  font-size: 2.5rem;
}
/* /Foooter */