.limiter {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  grid-template-columns: repeat(3, 1fr);
  gap: 0 8px;
}

/* Burger */
.burger_content {
  display: block;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: auto;
}

.burger_content.active {
  right: 0;
}

.burger_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.burger_logo img {
  height: 60px;
  width: 100%;
  display: block;
  object-fit: contain;
}

.burger_close {
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.burger_close::before,
.burger_close::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-accent);
  position: absolute;
  top: calc(50% - 2px);
  transform: rotate(45deg);
}

.burger_close::after {
  transform: rotate(-45deg);
}

.burger_menu {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  gap: 40px;
}

.burger_contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  gap: 24px;
}
/* /Burger */
/* Header */
.header_logo {
  grid-column: 1 / -2;
}

.header_nav {
  display: none;
}

.header_burger {
  display: block;
  width: 40px;
  height: 28px;
  background: url('../images/icons/burger.svg') no-repeat center/contain transparent;
  border: none;
  cursor: pointer;
  grid-column: -2 / -1;
  justify-self: end;
}
/* /Header */
/* Projects */
.projects_left,
.projects_right {
  grid-column: 1 / -1;
}

.project_slider-nav {
  padding-bottom: 0px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 40px;
}
/* /Projects */
/* Experience */
.experience_list {
  margin-top: 40px;
}

.experience_item:not(:last-child) {
  padding-bottom: 40px;
  border-bottom: 1px solid #dedede;
}

.experience_left {
  grid-column: 1 / -1;
}

.experience_right {
  grid-column: 1 / -1;
  margin-top: 8px;
}

/* /Experience */
/* Marathons */
.marathons_item:not(:last-child) {
  margin-bottom: 16px;
}

.marathons_left {
  grid-column: 1 / 3;
}

.marathons_right {
  grid-column: 2 / -1;
}
/* /Marathons */
/* Trainings */
.training_list {
  gap: 40px;
}

.training_item {
  padding-bottom: 40px;
  border-bottom: 1px solid #dedede;
}

.training_left,
.training_right {
  grid-column: 1 / -1;
}

.training_right {
  margin-top: 32px;
}

.training_img {
  display: none;
}

.training_more, 
.training_hide {
  margin-top: 40px;
  grid-column: 1 / -1;
  text-align: center;
}
/* /Trainings */
/* Logotypes */
.logotypes_item:not(:last-child) {
  margin-bottom: 16px;
}

.logotypes_left {
  grid-column: 1 / 3;
}

.logotypes_right {
  grid-column: 2 / -1;
}
/* Logotypes */
/* Polygraphy */
.polygraphy_item:not(:last-child) {
  margin-bottom: 16px;
}

.polygraphy_left {
  grid-column: 1 / 3;
  justify-self: start;
}

.polygraphy_right {
  grid-column: 2 / -1;
}

.one_col {
  grid-column: 1 / 2;
}
/* /Polygraphy */

/* About */
.about_left {
  grid-column: 1 / -1;
}

.about_left h2 {
  margin-bottom: 16px;
}

.about_right {
  margin-top: 40px;
  grid-column: 1 / -1;
}

.about_right h2 {
  margin-bottom: 16px;
}

.about_right p:not(:last-child) {
  margin-bottom: 16px;
}
/* /About */
/* Reviews */
.reviews_item {
  min-width: 300px;
}
/* /Reviews */
/* Short */
.short_left {
  display: none;
}
.short_right {
  grid-column: 1 / -1;
}
/* /Short */