h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

h3, .h3 {
  font-size: 18px;
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* Burger */
.burger_logo img {
  height: 32px;
}
/* /Burger */

/* Header */
.header_logo img {
  height: 32px;
}
/* Header */

/* Main page */
.main_page h1 {
  padding: 48px 0 40px;
}

.main_info {
  gap: 40px;
}

.main_info-left,
.main_info-right {
  grid-column: 1 / -1;
}

.main_info-left {
  order: 1;
}

.main_photo {
  margin-right: 16px;
}
/* /Main page */
/* Projects */
.projects_left h2 {
  margin-bottom: 16px;
}

.project_item > img {
  height: 220px;
}
/* /Projects */

/* Footer */
footer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer_left,
.footer_right {
  grid-column: 1 / -1;
}

.footer_right {
  margin-top: 96px;
}

.contact_phone,
.contact_email {
  font-size: 18px;
}

.soc_list {
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 40px);
  gap: 24px;
}
/* Footer */