.header_menu {
  gap: 45px;
}

/* Projects */
.project_item > img {
  height: 600px;
}
/* /Projects */
/* Reviews */
.reviews_item {
  min-width: 363px;
}
/* /Reviews */
/* Footer */
footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer_logo {
  height: 40px;
  margin-bottom: 64px;
}

.soc_item {
  width: 40px;
  height: 40px;
}
/* Footer */