:root {
  --color-primary: #323232;
  --color-accent: #CF4A43;
  --color-white: #FFFFFF;
  font-size: 24px;
  color: var(--color-primary);
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

h1 {
  font-size: 128px;
  line-height: 128px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  letter-spacing: normal;
}

h2 {
  font-size: 64px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  margin-bottom: 80px;
}

h3, .h3 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  letter-spacing: normal;  
}

button, input {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section,
.project {
  padding-top: 100px;
  padding-bottom: 100px;
}

.limiter {
  max-width: 1840px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 32px;
}

.container > * {
  grid-column: 1 / -1;
}

.third_column {
  grid-column: 3 / -1;
}

.hidden {
  display: none !important;
}

.big_img {
  max-height: 833px;
}

.middle_img {
  max-height: 546px;
}

.small_img {
  max-height: 260px;
}
/* Header */
header {
  padding-top: 40px;
  padding-bottom: 80px;
}

.header_container {
  align-items: center;
}

.header_logo {
  grid-column: 1 / 3;
}

.header_logo img {
  height: 60px;
  width: 100%;
  display: block;
  object-fit: contain;
  object-position: left;
}

.header_nav {
  grid-column: 3 / -1;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 80px;
  white-space: nowrap;
}

.header_burger,
.burger_content {
  display: none;
}

/* /Header */

/* Main page */
.main_page {
  overflow: auto hidden;
}

.main_page h1 {
  padding: 20px 0 63px;
}

.main_info-left {
  grid-column: 1 / 3;
  display: grid;
  gap: 40px;
}

.main_info-right {
  grid-column: 3 / -1;
  display: flex;
  align-items: center;
}

.main_photo {
  margin-right: 32px;
}

.main_photo img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
/* /Main page */

/* Projects */
.projects .container {
  align-items: start;
}

.project:first-child {
  padding-top: 20px;
}

.projects_left {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.projects_heading {
  margin-bottom: 32px;
}

.project_slider-nav {
  padding-bottom: 100px;
  display: flex;
  gap: 86px;
}

[class$="-nav"] button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

[class$="-nav"] button:not(:disabled):hover {
  transform: scale(1.02);
}

[class$="-nav"] button path {
  fill: var(--color-accent);
  transition: all .3s ease;
}

[class$="-nav"] button:disabled path {
  fill: var(--color-primary);
}

.projects_right {
  grid-column: 3 / -1;
}

.project_item > img,
.project .projects_right > img {
  display: block;
  width: 100%;
  height: 760px;
  object-fit: cover;
}

.project_item h3 {
  margin-top: 40px;
}

.project_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}
/* /Projects */

/* Experience */
.experience_list {
  display: grid;
  gap: 40px;
  margin-top: 80px;
}

.experience_item {
  align-items: baseline;
}

.experience_left {
  grid-column: 1 / 3;
}

.experience_left h3 {
  margin-bottom: 16px;
}

.experience_right {
  grid-column: 3 / -1;
}
/* /Experience */

/* Marathons */
.marathons_left {
  grid-column: 1 / 3;
  overflow: hidden;
}

.marathons_right {
  grid-column: 3 / -1;
  overflow: hidden;
}

.marathons_item img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.marathons_item:first-child .aos-init img {
  transform: scale(1.1);
  transition: transform .7s ease .2s;
}

.marathons_item:first-child .aos-init.aos-animate img {
  transform: scale(1);
}
/* /Marathons */

/* Trainings */
.training_list {
  display: grid;
  gap: 80px;
}

.training_item {
  min-height: 230px;
  cursor: default;
}

.training_left {
  grid-column: 1 / 3;
  display: flex;
  position: relative;
}

.training_left h3 {
  margin-bottom: 16px;
}

.training_img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 0%;
  max-width: 380px;
  transition: width 1.7s cubic-bezier(.22,1,.36,1);
}

.training_item:hover .training_img-container {
  width: 100%;
}

.training_img { 
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
}

.training_right {
  grid-column: 3 / -1;
}

.training_more,
.training_hide {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  grid-column: 3;
  cursor: pointer;
}
/* /Trainings */

/* Logotypes */
.also {
  margin-bottom: 24px;
}

.logotypes_left {
  grid-column: 1 / 3;
  overflow: hidden;
}

.logotypes_right {
  grid-column: 3 / -1;
  overflow: hidden;
}

.logotypes_list img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.logotypes_item:first-child.aos-init img {
  transform: scale(1.1);
  transition: transform .7s ease .2s;
}

.logotypes_item:first-child.aos-init.aos-animate img {
  transform: scale(1);
}
/* /Logotypes */

/* Polygraphy */
.polygraphy_left {
  grid-column: 1 / 4;
  justify-self: end;
  overflow: hidden;
}

.polygraphy_right {
  grid-column: 4 / -1;
  overflow: hidden;
}

.polygraphy_list img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  object-position: right;
}

.polygraphy_item:first-child .aos-init img {
  transform: scale(1.1);
  transition: transform .7s ease .2s;
}

.polygraphy_item:first-child .aos-init.aos-animate img {
  transform: scale(1);
}
/* /Polygraphy */

/* Brandbook*/
.brandbook_container {
  aspect-ratio: 2 / 1;
  position: relative;
  overflow: hidden;
}

.brandbook_container img {
  width: 100%;
  display: block;
  object-fit: contain;
  position: relative;
  transition: all .3s linear;
}
/* /Brandbook*/

/* About */
.about_left {
  grid-column: 1 / 3;
}

.about_right {
  grid-column: 3 / -1;
  overflow: hidden;
}

.about_img {
  overflow: hidden;
}

.about_right img {
  display: block;
  width: 100%;
}

.about_right h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about_right p:not(:last-child) {
  margin-bottom: 24px;
}
/* /About */
/* Reviews */
.hgroup h2 {
  margin-bottom: 16px;
}

.hgroup {
  margin-bottom: 40px;
}

.reviews {
  position: relative;
  overflow: hidden;
}

.reviews_list {
  display: flex;
  gap: 32px;
  position: relative;
  overflow: auto;
  scrollbar-width: 0px;
}

.reviews_list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.reviews .hgroup:not(:first-child) {
  margin-top: 64px;
}

.reviews_item {
  min-width: 685px;
  aspect-ratio: 1 / 1;
  background-color: #EFEFEF;
  position: relative;
  cursor: pointer;
}

.reviews_item:not(.played)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 32%;
  height: 32%;
  transform: translate(-50%, -50%);
  background: url('../images/icons/play.svg') no-repeat center/contain transparent;
  border-radius: 50%;
  box-shadow: 0 0 80px #0000007a;
}

.reviews_item video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* /Reviews */
/* Short */
.short_left {
  grid-column: 1 / 3;
}

.short_right {
  grid-column: 3 / -1;
}

.short_right img {
  width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-bottom: 40px;
}

.short_right h2 {
  margin-bottom: 40px;
}
/* /Short */
/* Footer */
footer {
  background-color: var(--color-primary);
  padding-top: 160px;
  padding-bottom: 160px;
  color: var(--color-white);
} 

.footer_logo {
  margin-bottom: 80px;
}

.footer_left {
  grid-column: 1 / 3;
}

.footer_right {
  grid-column: 3 / -1;
  display: grid;
  gap: 40px;
  align-items: baseline;
}

.footer_left ul {
  display: grid;
  gap: 40px;
}

.contact_phone,
.contact_email {
  font-weight: 500;
  font-size: 64px;
}

.soc_list {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 40px;
}

.footer_right .soc_list {
  margin-top: 40px;
}

.soc_item {
  display: block;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-position: center;
}

.soc_item.telegram {
  background-image: url('../images/icons/telegram.svg');
}

.soc_item.vk {
  background-image: url('../images/icons/vk.svg');
}

.soc_item.now {
  background-image: url('../images/icons/now.svg');
}

.soc_item.behance {
  background-image: url('../images/icons/behance.svg');
}

.soc_item.dribbble {
  background-image: url('../images/icons/dribbble.svg');
}

.soc_item.pinterest {
  background-image: url('../images/icons/pinterest.svg');
}

/* Footer */

/* Custom aos animation */
html:not(.no-js) [data-aos=fade-up-20] {
  -webkit-transform:translate3d(0,20px,0);
  transform:translate3d(0,20px,0)
}
/* /Custom aos animation */

@media (max-width: 1480px) {
  /* Footer */
  .contact_phone,
  .contact_email {
    font-weight: 400;
    font-size: 24px;
  }

  .footer_right .soc_list {
    margin-top: 0px;
  }
  /* /Footer */
  /* Projects page */
  h1.third_column {
    grid-column: 1 / -1;
  }

  .project .projects_left,
  .project .projects_right {
    grid-column: 1 / -1;
  }

  .project .projects_left {
    margin-bottom: 32px;
    height: auto;
  }
  .project h2 {
    margin-bottom: 0;
  }
  /* Projects page */
}

@media (max-width: 1300px) {
  .header_menu {
    gap: 45px;
  }
  
  /* Projects */
  .project_item > img,
  .project .projects_right > img  {
    height: 600px;
  }
  /* /Projects */
  /* Reviews */
  .reviews_item {
    min-width: 363px;
  }
  /* /Reviews */
  /* Footer */
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .footer_logo {
    height: 40px;
    margin-bottom: 64px;
  }
  
  .soc_item {
    width: 40px;
    height: 40px;
  }
  /* Footer */
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
  
  h1 {
    font-size: 64px;  
    line-height: 1.2;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 64px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  
  section,
  .project {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .container {
    gap: 0 24px;
  }
  
  /* Header */

  header {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .header_logo img {
    height: 40px;
  }
  
  .header_menu {
    gap: 40px;
  }
  /* /Header */
  
  /* Main page */
  .main_page h1 {
    padding: 0px 0px 64px;
  }
  
  .main_info-left {
    gap: 24px;
  }
  
  .main_photo img {
    width: 80px;
    height: 80px;
  }
  /* /Main page */
  /* Projects */
  .experience_list {
    margin-top: 64px;
  }
  
  .project_item > img,
  .project .projects_right > img  {
    height: 406px;
  }
  /* /Projects */
  /* Trainings */
  .training_img {
    margin-left: 16px;
  }
  /* /Trainings */
  /* Short */
  .short_right img {
    width: 80px;
  }
  /* /Short */
}

@media (max-width: 968px) {
  .limiter {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 8px;
  }
  
  /* Burger */
  .burger_content {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: auto;
  }
  
  .burger_content.active {
    right: 0;
  }
  
  .burger_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .burger_logo img {
    height: 60px;
    width: 100%;
    display: block;
    object-fit: contain;
  }
  
  .burger_close {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
  }
  
  .burger_close::before,
  .burger_close::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-accent);
    position: absolute;
    top: calc(50% - 2px);
    transform: rotate(45deg);
  }
  
  .burger_close::after {
    transform: rotate(-45deg);
  }
  
  .burger_menu {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    gap: 40px;
  }
  
  .burger_contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    gap: 24px;
  }
  /* /Burger */
  /* Header */
  .header_logo {
    grid-column: 1 / -2;
  }
  
  .header_nav {
    display: none;
  }
  
  .header_burger {
    display: block;
    width: 40px;
    height: 28px;
    background: url('../images/icons/burger.svg') no-repeat center/contain transparent;
    border: none;
    cursor: pointer;
    grid-column: -2 / -1;
    justify-self: end;
  }
  /* /Header */
  /* Projects */
  .projects_left,
  .projects_right {
    grid-column: 1 / -1;
  }
  
  .project_slider-nav {
    padding-bottom: 0px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* /Projects */
  /* Experience */
  .experience_list {
    margin-top: 40px;
  }
  
  .experience_item:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid #dedede;
  }
  
  .experience_left {
    grid-column: 1 / -1;
  }
  
  .experience_right {
    grid-column: 1 / -1;
    margin-top: 8px;
  }
  
  /* /Experience */
  /* Marathons */
  .marathons_item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .marathons_left {
    grid-column: 1 / 3;
  }
  
  .marathons_right {
    grid-column: 2 / -1;
  }
  /* /Marathons */
  /* Trainings */
  .training_list {
    gap: 40px;
  }
  
  .training_item {
    padding-bottom: 40px;
    border-bottom: 1px solid #dedede;
  }
  
  .training_left,
  .training_right {
    grid-column: 1 / -1;
  }
  
  .training_right {
    margin-top: 32px;
  }
  
  .training_img {
    display: none;
  }
  
  .training_more, 
  .training_hide {
    margin-top: 40px;
    grid-column: 1 / -1;
    text-align: center;
  }
  /* /Trainings */
  /* Logotypes */
  .logotypes_item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .logotypes_left {
    grid-column: 1 / 3;
  }
  
  .logotypes_right {
    grid-column: 2 / -1;
  }
  /* Logotypes */
  /* Polygraphy */
  .polygraphy_item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .polygraphy_left {
    grid-column: 1 / 3;
    justify-self: start;
  }
  
  .polygraphy_right {
    grid-column: 2 / -1;
  }
  
  .one_col {
    grid-column: 1 / 2;
  }
  /* /Polygraphy */
  
  /* About */
  .about_left {
    grid-column: 1 / -1;
  }
  
  .about_left h2 {
    margin-bottom: 16px;
  }
  
  .about_right {
    margin-top: 40px;
    grid-column: 1 / -1;
  }
  
  .about_right h2 {
    margin-bottom: 16px;
  }
  
  .about_right p:not(:last-child) {
    margin-bottom: 16px;
  }
  /* /About */
  /* Reviews */
  .reviews_item {
    min-width: 300px;
  }
  /* /Reviews */
  /* Short */
  .short_left {
    display: none;
  }
  .short_right {
    grid-column: 1 / -1;
  }
  /* /Short */
}

@media (max-width: 668px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  h3, .h3 {
    font-size: 18px;
  }
  
  section,
  .project  {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  /* Burger */
  .burger_logo img {
    height: 32px;
  }
  /* /Burger */
  
  /* Header */
  .header_logo img {
    height: 32px;
  }
  /* Header */
  
  /* Main page */
  .main_page h1 {
    padding: 48px 0 40px;
  }
  
  .main_info {
    gap: 40px;
  }
  
  .main_info-left,
  .main_info-right {
    grid-column: 1 / -1;
  }
  
  .main_info-left {
    order: 1;
  }
  
  .main_photo {
    margin-right: 16px;
  }
  /* /Main page */
  /* Projects */
  .projects_heading {
    margin-bottom: 0px;
  } 
  .projects_left h2 {
    margin-bottom: 16px;
  }
  
  .project_item > img,
  .project .projects_right > img  {
    height: 220px;
  }
  /* /Projects */
  
  /* Footer */
  footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .footer_left,
  .footer_right {
    grid-column: 1 / -1;
  }
  
  .footer_right {
    margin-top: 96px;
  }
  
  .contact_phone,
  .contact_email {
    font-size: 18px;
  }
  
  .soc_list {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 40px);
    gap: 24px;
  }
  /* Footer */
}